@font-face {
    font-family: "Pricedown";
    src: local("Pricedown"), url('../pricedown.ttf') format('truetype');
}



.coolFont {
    font-family: 'Pricedown';
    color: white;
    font-size: 6rem;
    padding-bottom: 0rem;
}

